@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  @apply block bg-gray-500 cursor-pointer;
}

.scrollbar::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 4px;
  background: transparent;
  overflow: auto;
}

.scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply block opacity-10 border-r-8 bg-gray-300 duration-150
    transition-all rounded-full;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}
